{% extends "base.html" %}
{% block title %}Απαντήσεις{% endblock %}
{% block content %}
<h2>Απαντήσεις Ερωτηματολογίου</h2>
<p>Σύνολο απαντήσεων: {{ total }}</p>
<p>Απαντήσεις από φοιτητές: {{ from_students }}</p>
<p>Απαντήσεις από απλούς χρήστες: {{ from_users }}</p>
<p>Ποσοστό χρηστών: {{ percentage_users | round(2) }}%</p>

<h3>Λεπτομέρειες</h3>
{% for answer in answers %}
    <ul>
        {% for a in answer.answers %}
            <li><strong>Ερώτηση #{{ a.question_num }}:</strong> {{ a.content }}</li>
        {% endfor %}
    </ul>
    <hr>
{% endfor %}
{% endblock %}
