{% extends "base.html" %}

{% block title %}Διαχείριση Φοιτητών{% endblock %}

{% block content %}
<h2>Λίστα Φοιτητών</h2>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Όνομα</th>
      <th>Email</th>
      <th>Έτος Γέννησης</th>
      <th>Διεύθυνση</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>
        {% if student.yearOfBirth['$numberInt'] %}
          {{ student.yearOfBirth['$numberInt'] }}
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        {% if student.address %}
          {{ student.address[0].street }}, {{ student.address[0].city }} {{ student.address[0].postcode['$numberInt'] }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
