{% extends "base.html" %}

{% block title %}Διαχείριση Φοιτητών{% endblock %}

{% block content %}
<h2>Λίστα Φοιτητών</h2>
<body>
  <table border="1">
    <thead>
        <tr>
            <th>Αριθμός Μητρώου</th>
            <th>Όνομα</th>
            <th>Email</th>
            <th>Έτος Γέννησης</th>
            <th>Διεύθυνση</th>
        </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.reg_number }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.yearOfBirth }}</td>
        <td>
          {% if student.address %}
            {{ student.address.street }}, {{ student.address.city }} {{ student.address.postcode }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    
</table>


</body>


{% endblock %}
